APScheduler==3.6.3
article==0.1.1
asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
cloudinary==1.20.0
coreapi==2.3.3
coreschema==0.0.4
coverage==5.1
Django==3.0.5
django-cors-headers==3.2.1
djangorestframework==3.11.0
gunicorn==19.7.1
idna==2.9
itypes==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==1.4.6
PyMySQL==0.9.3
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.8
whitenoise==5.0.1